.base{
   border-radius: 3px;
}

.labels{
   font-size: 20px; 
   font-weight: 300;
  
}

.card{
   background:#fff;
   padding: 6px 42px;
   border-radius: 8px;
   text-align: center;
   gap: 4px;
   box-shadow: 2px 2px 5px gray;
}